<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-inputbar" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVLocalWWW</name>
    <js-module name="CDVInputBar" src="www/inputbar.js">
        <clobbers target="CDVInputBar" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVInputBar">
                <param name="ios-package" value="CDVInputBar" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVInputBar.h" />
        <source-file src="src/ios/CDVInputBar.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="AlignButton" />
                <pod name="Mp3Recorder" options=":git => 'https://github.com/boboxiaodd/Mp3Recorder.git'" />
            </pods>
        </podspec>

    </platform>
</plugin>
